<div id="footer">
    <ul id="footer-list">
	<li><a title="Twitter" href="https://twitter.com/amlspace" rel="external">tw</a></li>
	<li><a title="Instagram" href="https://www.instagram.com/artmusiclitspace/" rel="external">ig</a></li>
	<li><a title="Facebook" href="https://www.facebook.com/Art-Music-Lit-Space-112592420435590/" rel="external">fb</a></li>
	<li><a title="Vimeo" href="https://vimeo.com/amlspace"" rel="external">vm</a></li>
	<li><a title="Soundcloud" href="https://soundcloud.com/amlspace" rel="external">sc</a></li>
    </ul>
</div>
